head{
	/*background: url("./img/background.png") no-repeat center bottom fixed;*/
	/*background-size: cover;
	background-color: #2A2A2A; */
	border: 1px solid #979797;
	bottom : 10px;
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;
	width: 100%;
	color : white;
	text-align: center;
	
}

h1 { 
  color : white;
 }

body{
	background: url("./img/background.png") no-repeat center bottom fixed;
	background-size: cover;
	background-color: #2A2A2A;
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
	overflow: hidden;
	overflow:auto;
}

a { color:white; }

#wrapper{
	min-width: 768px;
	width: 100%;
	height: 100%;
	position:  relative;
}

#spinningWheel{
	position: fixed;
	margin-top: -37px;
	margin-left: -37px;
	top: 50%;
	left: 50%;
	width: 75px;
	height: 75px;
	background-image: url("./img/loading.gif");
	background-size: 75px 75px;
}

/* Console View */

#consoleModule{
	padding: 5px 5px 5px 5px;
	margin: 10px 0px 0px 10px;
	background: rgba(255,255,255,0.15);
	border: 1px solid #979797;
	border-radius: 2px;
	width: 50vw;
	height: 30vh;
	color: white;
	overflow-y: auto;
}

#consoleModule .textArea{
	color: white;
}

#consoleModule .textArea p{
	color: white;
	margin: 0px 0px 0px 0px;
}

/* Brain View */

#brainModule{
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;
	background: rgba(255,255,255,0.15);
	border: 1px solid #979797;
	border-radius: 2px;
	width: 40vw;
	height: 40vw;
	position: absolute;
	top: -10px;
	right: 30px;
}

#brainModule canvas{
	height: 100px;
	width: 100px;
	display: block;
}

/* Media View */

#mediaModule{
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;
	background: rgba(255,255,255,0.15);
	border: 1px solid #979797;
	border-radius: 2px;
	width: 50vw;
	height: 50vw;
	max-height: 50vh;
}

#mediaModule img{
	max-width: 100%;
	height: 100%;
	vertical-align: middle;
}

#mediaModule video{
	max-width: 100%;
	height: 100%; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Controls View */

#controlsModule{
	float: left;
	margin-left: 10px;
}

#controlsModule .arrow_next{
	width: 50px;
	height: 50px;
	background-image: url("./img/arrow_next.png");
	float: left;
	margin-left: 10px;
}

#controlsModule .arrow_previous{
	width: 50px;
	height: 50px;
	background-image: url("./img/arrow_previous.png");
	float: left;
	
}


